
.l-container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.l-fluid {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

.l-row:before,
.l-row:after {
  content: '';
  display: block;
  clear: both;
}

@include make-grid-columns;

@include make-grid(xs);








/* 超小屏幕(手机) */

@media screen and (max-width: $screen-sm-min) {
  .l-hide-xs {
      display: none!important;
  }
  .l-show-xs-block {
      display: block!important;
  }
  .l-show-xs-inline {
      display: inline!important;
  }
  .l-show-xs-inline-block {
      display: inline-block!important;
  }
}


/* 小型屏幕(平板) */

@media screen and (min-width: $screen-sm-min) {
  .l-container {
      width: 750px;
  }
  .l-hide-sm {
      display: none!important;
  }
  .l-show-sm-block {
      display: block!important;
  }
  .l-show-sm-inline {
      display: inline!important;
  }
  .l-show-sm-inline-block {
      display: inline-block!important;
  }

  @include make-grid(sm);
}


/* 中型屏幕(桌面) */

@media screen and (min-width: $screen-md-min) {
  .l-container {
      width: 970px;
  }
  .l-hide-md {
      display: none!important;
  }
  .l-show-md-block {
      display: block!important;
  }
  .l-show-md-inline {
      display: inline!important;
  }
  .l-show-md-inline-block {
      display: inline-block!important;
  }
  @include make-grid(md);
  
}


/* 大型屏幕(桌面) */

@media screen and (min-width: $screen-lg-min) {
  .l-container {
      width: 1170px;
  }
  .l-hide-lg {
      display: none!important;
  }
  .l-show-lg-block {
      display: block!important;
  }
  .l-show-lg-inline {
      display: inline!important;
  }
  .l-show-lg-inline-block {
      display: inline-block!important;
  }

  @include make-grid(lg);
}


/* 列间隔 */

.l-col-space1 {
  margin: -0.5px;
}

.l-col-space1>* {
  padding: 0.5px;
}

.l-col-space3 {
  margin: -1.5px;
}

.l-col-space3>* {
  padding: 1.5px;
}

.l-col-space5 {
  margin: -2.5px;
}

.l-col-space5>* {
  padding: 2.5px;
}

.l-col-space8 {
  margin: -3.5px;
}

.l-col-space8>* {
  padding: 3.5px;
}

.l-col-space10 {
  margin: -5px;
}

.l-col-space10>* {
  padding: 5px;
}

.l-col-space12 {
  margin: -6px;
}

.l-col-space12>* {
  padding: 6px;
}

.l-col-space15 {
  margin: -7.5px;
}

.l-col-space15>* {
  padding: 7.5px;
}

.l-col-space18 {
  margin: -9px;
}

.l-col-space18>* {
  padding: 9px;
}

.l-col-space20 {
  margin: -10px;
}

.l-col-space20>* {
  padding: 10px;
}

.l-col-space22 {
  margin: -11px;
}

.l-col-space22>* {
  padding: 11px;
}

.l-col-space25 {
  margin: -12.5px;
}

.l-col-space25>* {
  padding: 12.5px;
}

.l-col-space30 {
  margin: -15px;
}

.l-col-space30>* {
  padding: 15px;
}

