/**

 @Name: leeui
 @Author: 贤心
 @Site: 暂无
 @Editor: van;
 */

@import "leeui/variables";
@import "leeui/custom";
@import "leeui/mixins/mixins";


/** 初始化 **/

@import "leeui/init";


/** 字体 **/

@import "leeui/components/font.css";

// 分页

@import "leeui/components/page";

// 初始化

@import "leeui/init";

.l-border, .l-quote-nm, .l-elem-field, .l-collapse, .l-panel, .l-colla-item, .l-colla-content, .l-badge-rim, .l-tab-title, .l-tab-title .l-this:after, .l-tab-bar, .l-tab-card, .l-input, .l-textarea, .l-select, .l-form-pane .l-form-label, .l-form-pane .l-form-item[pane], .l-layedit, .l-layedit-tool{
    border-color: #eee;
}

/** 基础通用 **/

.l-border-box,
.l-border-box * {
    box-sizing: border-box;
}

.l-imgbg {
    display: block;
    width: 100%;
}

/* 消除第三方ui可能造成的冲突 */

.l-box,
.l-box * {
    box-sizing: content-box;
}

.l-clear {
    clear: both;
    *zoom: 1;
}

.l-clear:after {
    content: '\20';
    clear: both;
    *zoom: 1;
    display: block;
    height: 0;
}

.l-inline {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.l-left{
    float:left;
}

.l-right{
    float:right;
}

.l-inverse{
    background-color: #393D49;
}
/* 三角形 */

.l-edge {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}

.l-edge-top {
    top: -4px;
    border-bottom-color: #999;
    border-bottom-style: solid;
}

.l-edge-right {
    border-left-color: #999;
    border-left-style: solid;
}

.l-edge-bottom {
    top: 2px;
    border-top-color: #999;
    border-top-style: solid;
}

.l-edge-left {
    border-right-color: #999;
    border-right-style: solid;
}


/* 单行溢出省略 */

.l-elip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* 屏蔽选中 */

.l-unselect,
.l-icon,
.l-disabled {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/* 禁用 */

.l-disabled,
.l-disabled:hover {
    color: #d2d2d2 !important;
    cursor: not-allowed !important;
}


/* 纯圆角 */

.l-circle {
    border-radius: 100%;
}

.l-show {
    display: block !important;
}

.l-hide {
    display: none !important;
}





/* 基本布局 */

.l-main {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
@media screen and (max-width: $screen-lg-min) {
    .l-main { 
        width: 100%;
    }
}
.l-header {
    position: relative;
    z-index: 1000;
    height: 60px;
}

.l-header a:hover {
    transition: all .5s;
    -webkit-transition: all .5s;
}
.l-header-logo{
    display: block;
    height: 40px;
    padding: 10px 0 ;
    float:left;
}
.l-nav-menuBtn{
    font-size: 38px;
    color:#fff;
    line-height: 60px;
    margin-right:10px;
}

.l-side {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 999;
    width: 200px;
    overflow-x: hidden;
}

.l-side-scroll {
    width: 220px;
    height: 100%;
    overflow-x: hidden;
}

.l-body{
    margin-top: 10px;
    clear:both;
}

/* 栅格布局 */

@import "leeui/components/_grid.scss";

/** 页面元素 **/

.l-btn,
.l-input,
.l-textarea,
.l-upload-button,
.l-select {
    outline: none;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
}




/* 进度条 */

.l-progress {
    position: relative;
    height: 6px;
    border-radius: 20px;
    background-color: #e2e2e2;
}

.l-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    max-width: 100%;
    height: 6px;
    border-radius: 20px;
    text-align: right;
    background-color: $subBaseColor;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.l-progress-big,
.l-progress-big .l-progress-bar {
    height: 18px;
    line-height: 18px;
}

.l-progress-text {
    position: relative;
    top: -18px;
    line-height: 18px;
    font-size: 12px;
    color: #666
}

.l-progress-big .l-progress-text {
    position: static;
    padding: 0 10px;
    color: #fff;
}





/* 背景颜色 */

.l-bg-red {
    background-color: #FF5722 !important;
    color: #fff!important;
}


/*赤*/

.l-bg-orange {
    background-color: #FFB800!important;
    color: #fff!important;
}


/*橙*/

.l-bg-green {
    background-color: #009688!important;
    color: #fff!important;
}


/*绿*/

.l-bg-cyan {
    background-color: #2F4056!important;
    color: #fff!important;
}


/*青*/

.l-bg-blue {
    background-color: #1E9FFF!important;
    color: #fff!important;
}


/*蓝*/

.l-bg-black {
    background-color: #393D49!important;
    color: #fff!important;
}


/*黑*/

.l-bg-gray {
    background-color: #eee!important;
    color: #666!important;
}


/*灰*/

.l-bg-white {
    background-color: #fff!important;
    color: #666!important;
}


/*白*/


/*

  默认主题

*/


/* 边框 */

.l-quote-nm,
.l-elem-field,
.l-collapse,
.l-colla-item,
.l-colla-content,
.l-badge-rim,
.l-tab-title,
.l-tab-title .l-this:after,
.l-tab-bar,
.l-tab-card,

.l-input,
.l-textarea,
.l-select,
.l-form-pane .l-form-label,
.l-form-pane .l-form-item[pane],
.l-layedit,
.l-layedit-tool {
    border-color: #e6e6e6
}


/* 背景边框 */

hr,
.l-timeline-item:before {
    background-color: #e6e6e6;
}

.l-h1 {
    margin-bottom: 20px;
    line-height: 60px;
    padding-bottom: 10px;
    color: #393D49;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: 300;
}
/* 文本区域 */

.l-text {
    line-height: 22px;
    font-size: 14px;
    color: #666;
}

.l-text h1,
.l-text h2,
.l-text h3 {
    font-weight: 500;
    color: #333;
}

.l-text h1 {
    font-size: 30px;
}

.l-text h2 {
    font-size: 24px;
}

.l-text h3 {
    font-size: 18px;
}

.l-text a:not(.l-btn) {
    color: #01AAED;
}

.l-text a:not(.l-btn):hover {
    text-decoration: underline;
}

.l-text ul {
    padding: 5px 0 5px 15px;
}

.l-text ul li {
    margin-top: 5px;
    list-style-type: disc;
}

.l-text em,
.l-word-aux {
    color: #999 !important;
    padding: 0 5px !important;
}


/* 按钮 */

@import "leeui/components/btn";

/** 表单 **/

@import "leeui/components/form";


/** menu **/

@import "leeui/components/menu";




/** 分页 **/

.l-laypage {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
}

.l-laypage>a:first-child,
.l-laypage>a:first-child em {
    border-radius: 2px 0 0 2px;
}

.l-laypage>a:last-child,
.l-laypage>a:last-child em {
    border-radius: 0 2px 2px 0;
}

.l-laypage>*:first-child {
    margin-left: 0!important;
}

.l-laypage>*:last-child {
    margin-right: 0!important;
}

.l-laypage a,
.l-laypage span,
.l-laypage input,
.l-laypage button,
.l-laypage select {
    border: 1px solid #e2e2e2;
}

.l-laypage a,
.l-laypage span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
}

.l-laypage a:hover {
    color: $basecolor;
}

.l-laypage em {
    font-style: normal;
}

.l-laypage .l-laypage-spr {
    color: #999;
    font-weight: 700;
}

.l-laypage a {
    text-decoration: none;
}



.l-laypage .active {
    background:$basecolor;
    color: #fff;
}





.l-laypage-prev em,
.l-laypage-next em {
    font-family: Sim sun;
    font-size: 16px;
}

.l-laypage .l-laypage-count,
.l-laypage .l-laypage-limits,
.l-laypage .l-laypage-skip {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    border: none;
}

.l-laypage .l-laypage-limits {
    vertical-align: top;
}

.l-laypage select {
    height: 22px;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}

.l-laypage .l-laypage-skip {
    height: 30px;
    line-height: 30px;
    color: #999;
}

.l-laypage input,
.l-laypage button {
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    vertical-align: top;
    background-color: #fff;
    box-sizing: border-box;
}

.l-laypage input {
    display: inline-block;
    width: 40px;
    margin: 0 10px;
    padding: 0 3px;
    text-align: center;
}

.l-laypage input:focus,
.l-laypage select:focus {
    border-color: $basecolor!important;
}

.l-laypage button {
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;
}


/** 流加载 **/

@import "leeui/components/flow";


/** 表格 **/

@import "leeui/components/table";



/** 代码修饰器 **/

.l-code {
    position: relative;
    margin: 10px 0;
    padding: 15px;
    line-height: 20px;
    border: 1px solid #ddd;
    border-left-width: 6px;
    background-color: #F2F2F2;
    color: #333;
    font-family: Courier New;
    font-size: 12px;
}



/** 树组件（重写中） **/

@import "leeui/components/tree";


/** 导航菜单 **/

@import "leeui/components/nav";

/** 面包屑 **/

@import "leeui/components/breadcrumb";


/** Tab选项卡 **/

@import "leeui/components/tab";


/* 时间线 */

.l-timeline {
    padding-left: 5px;
}

.l-timeline-item {
    position: relative;
    padding-bottom: 20px;
}

.l-timeline-axis {
    position: absolute;
    left: -5px;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    color: $subBaseColor;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.l-timeline-axis:hover {
    color: #FF5722;
}

.l-timeline-item:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    z-index: 0;
    width: 1px;
    height: 100%;
}

.l-timeline-item:last-child:before {
    display: none;
}

.l-timeline-item:first-child:before {
    display: block;
}

.l-timeline-content {
    padding-left: 25px;
    ;
}

.l-timeline-title {
    position: relative;
    margin-bottom: 10px;
}


/* 小徽章 */

.l-badge,
.l-badge-dot,
.l-badge-rim {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    border-radius: 2px;
}

.l-badge {
    height: 18px;
    line-height: 18px;
}

.l-badge-dot {
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
}

.l-badge-rim {
    height: 18px;
    line-height: 18px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    color: #666;
}

.l-btn .l-badge,
.l-btn .l-badge-dot {
    margin-left: 5px;
}

.l-nav .l-badge,
.l-nav .l-badge-dot {
    // position: absolute;
    top: -12px;
    left:5px;
    // margin: -8px 6px 0;
}

.l-tab-title .l-badge,
.l-tab-title .l-badge-dot {
    left: 5px;
    top: -2px;
}


/* carousel 轮播 */

@import "leeui/components/carousel";


/** fixbar **/

.l-fixbar {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
}

.l-fixbar li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    background-color: #9F9F9F;
    color: #fff;
    border-radius: 2px;
    opacity: 0.95;
}

.l-fixbar li:hover {
    opacity: 0.85;
}

.l-fixbar li:active {
    opacity: 1;
}

.l-fixbar .l-fixbar-top {
    display: none;
    font-size: 40px;
}


/** 表情面板 **/

body .l-util-face {
    border: none;
    background: none;
}

body .l-util-face .l-layer-content {
    padding: 0;
    background-color: #fff;
    color: #666;
    box-shadow: none
}

.l-util-face .l-layer-TipsG {
    display: none;
}

.l-util-face ul {
    position: relative;
    width: 372px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.l-util-face ul li {
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    height: 22px;
    width: 26px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: center;
}

.l-util-face ul li:hover {
    position: relative;
    z-index: 2;
    border: 1px solid #eb7350;
    background: #fff9ec;
}

//legend
legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 300;
}


/** 动画 **/
@import "leeui/components/anim";

// 修改图片

@import "leeui/components/editImg";

// Card

@import "leeui/components/card";

//移动端底部导航

@import "leeui/components/tabBar";

//移动端标题栏

@import "leeui/components/navBar";